@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

